<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/coco.css" type="text/css" />
  </head>
  <body>
    <p class="menu">
      <a href="index.html">Index</a> |
      <a href="https://github.com/lkdjiin/coco/wiki">Wiki</a> |
      <a href="https://github.com/lkdjiin/coco">Source</a> |
      <a href="http://lkdjiin.github.com/coco/">Web site</a>
    </p>
    <h2><%= @title %></h2>
    <p class="date">
      <%= "#{Time.now}" %>
    </p>

    <section class="summary">
      <p>
      <span class="summary-rate">Rate <%= '%.2f' % @summary.average %>%</span>
      <span class="summary-uncovered">Uncovered <%= @summary.uncovered_count %></span>
      <span class="summary-files">Files <%= @summary.count %></span>
      </p>
    </section>

    <table class="index">
    <% @uncovered.each do |filename| %>
    <tr><td class="percentage black">0%</td><td><%= filename %></td></tr>
    <% end %>
    
    <% @covered.each do |percentage, filename, href| %>
      <tr>
        <td class="percentage <%= Helpers.level_class(percentage) %>"><%= percentage %>%</td>
        <td><a href="<%= href %>"><%= filename %></a></td>
      </tr>
    <% end%>
    </table>


    <p><a id='toggle-bis' href='#'>&gt;&gt;&gt; Toggle fully covered files… &lt;&lt;&lt;</a></p>

    <table class="index" id="bis">
    <% @greens.each do |percentage, filename, href| %>
      <tr>
        <td class="percentage <%= Helpers.level_class(percentage) %>"><%= percentage %>%</td>
        <td><a href="<%= href %>"><%= filename %></a></td>
      </tr>
    <% end %>
    </table>

  <script src="js/coco.js"></script>
  </body>
</html>
