<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/coco.css" type="text/css" />
  </head>
  <body>
    <p class="menu">
      <a href="index.html">Index</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="https://github.com/lkdjiin/coco/wiki">Wiki</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="https://github.com/lkdjiin/coco">Source</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="http://lkdjiin.github.com/coco/">Web site</a>
    </p>
    <h2><%= @title %></h2>
    <p class="date">
      <%= "#{Time.now}" %>
    </p>

    <section class="summary">
      <p>
      <span class="summary-rate">Rate <%= @summary.average %>%</span>
      <span class="summary-uncovered">Uncovered <%= @summary.uncovered_count %></span>
      <span class="summary-files">Files <%= @summary.count %></span>
      </p>
    </section>

    <table class="index">
    
      <% @uncovered.each do |filename| %>
      <tr><td class="percentage black">0%</td><td><%= filename %></td></tr>
      <% end %>
      
      <% @covered.each do |percentage, filename, href| %>
        <% level_class = case percentage; when 80..100; 'yellow'; else 'red'; end %>
        <tr>
          <td class="percentage <%= level_class %>"><%= percentage %>%</td>
	  <td><a href="<%= href %>"><%= filename %></a></td>
        </tr>
      <% end%>
      
    </table>
  </body>
</html>
