<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/coco.css" type="text/css" />
  </head>
  <body>
    <h2><%= @title %></h2>
    <p>
      <%= "#{Time.now}" %>
    </p>
    <table>
    
      <% @uncovered.each do |filename| %>
        <%= "<tr><td class=\"black\">0%</td><td>#{filename}</td></tr>\n" %>
      <% end %>
      
      <% @covered.each do |percentage, filename, href| %>
        <tr>
      <% if percentage > 80 %>
        <td class ="yellow">
      <% elsif percentage > 70 %>
        <td class="orange">
      <% elsif percentage > 50 %>
        <td class="pink">
      <% else %>
        <td class="red">
      <% end %>
      <%= "#{percentage}%</td><td><a href=\"#{href}\">#{filename}</a></td></tr>\n" %>
      <% end%>
      
    </table>
  </body>
</html>
