<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/coco.css" type="text/css" />
  </head>
  <body>
    <p class="menu">
      <a href="index.html">Index</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="https://github.com/lkdjiin/coco/wiki">Wiki</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="https://github.com/lkdjiin/coco">Source</a> <img src="img/coconut16.png" width="16" height="16" />
      <a href="http://lkdjiin.github.com/coco/">Web site</a>
    </p>
    <h2><%= @title %></h2>
    <p class="date">
      <%= "#{Time.now}" %>
    </p>
    <table>
    
      <% @uncovered.each do |filename| %>
        <%= "<tr><td class=\"black\">0%</td><td>#{filename}</td></tr>\n" %>
      <% end %>
      
      <% @covered.each do |percentage, filename, href| %>
        <tr>
      <% if percentage > 80 %>
        <td class ="yellow">
      <% elsif percentage > 70 %>
        <td class="orange">
      <% elsif percentage > 50 %>
        <td class="pink">
      <% else %>
        <td class="red">
      <% end %>
      <%= "#{percentage}%</td><td><a href=\"#{href}\">#{filename}</a></td></tr>\n" %>
      <% end%>
      
    </table>
    
    <p class="license">
    Coco, code coverage for ruby.<br/>
    Copyright 2011, Xavier Nayrac<br/>
    <br/>
    This program is free software: you can redistribute it and/or modify<br/>
    it under the terms of the GNU General Public License as published by<br/>
    the Free Software Foundation, either version 3 of the License, or<br/>
    (at your option) any later version.<br/>
    <br/>
    This program is distributed in the hope that it will be useful,<br/>
    but WITHOUT ANY WARRANTY; without even the implied warranty of<br/>
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br/>
    GNU General Public License for more details.<br/>
    <br/>
    You should have received a copy of the GNU General Public License<br/>
    along with this program.  If not, see http://www.gnu.org/licenses/.<br/>
    </p>
  </body>
</html>
